@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Inter';
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #141414;
    height: 100vh;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: #1F1F1F;
    padding: 40px;
    border-radius: 12px;
    align-items: center;
    text-align: center;
    gap: 26px;
}

section {
    width: 304px;
}

img {
    border-radius: 90px;
    width: 88px;
    margin-bottom: 28px;
}

article {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

h1 {
    font-size: 24px;
    font-weight: 600;
}

p {
    font-size: 14px;
}

#local {
    color: #C5F82A;
    font-weight: bold;
}

#desc {
    margin-top: 19px;
}

nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.links {
    background-color: #333333;
    border: none;
    border-radius: 8px;
    padding: 14px 0px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    transition: 200ms linear;
    text-decoration: none;
}

.links:hover {
    background-color: #C5F82A;
    color: #1F1F1F;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 15px;
}

.attribution a { 
    color: #C5F82A;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 425px) {
    main {
        padding: 24px;
        margin: auto 25px;
    }
    
    section {
        width: auto;
    }
}